extends layout

block content
  .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container
          button.btn.btn-navbar(type='button', data-toggle='collapse', data-target='.nav-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a(href='/recipes/:'+email).brand #{title}
          .nav-collapse.collapse
  div
    h2 #{title} 
    h4 Welcome to #{title}. Please create a new folder in the chrome extension and add some recipes!