body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.folder{
	margin:0px;
	padding: 0px;
	width: 300px;
/*	height:764px;
*/	display:inline-block;
	float:left;
}

.wrapper{
	width: 12000px;
	overflow: auto;
	float:left;
}